:root {
    ---fuente-subtitulos: "Aldrich", sans-serif;
    ---fuente-parrafos: "Roboto Condensed", sans-serif;
}

/* Resetear márgenes y padding de body y html */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
    box-sizing: border-box;
}

/* Configuración de flex en el body */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #070F2B;
    min-height: 100vh;
    /* overflow: hidden; */
}

.cuerpo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Ajuste para los contenedores */
.contenedor-presentacion,
.contenedor-conocimientos,
.experiencia-laboral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.contenedor-historial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/* Estilo para el header */
header {
    position: fixed;
    top: 38vh;
    /* Usando vh para una posición relativa a la altura de la ventana */
    right: 1vh;
    /* Usando vw para alinearlo completamente a la izquierda */
    width: 10%;
    background-color: rgba(255, 255, 255, 0.539);
    display: flex;
    justify-content: center;
    height: 20vh;
    /* Usando vh para la altura del header */
    align-items: center;
    z-index: 1000;
    animation-name: animacionAparicion;
    animation-duration: 8s;
}


/* Estilo para el contenedor de navegación */
.contenedor-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Estilo para los enlaces en el navbar */
.cont-enlace {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Efecto hover para los enlaces */
.cont-enlace:hover {
    background-color: #070F2B;
    transition-duration: 0.6s;
}

/* Estilo para los enlaces */
.cont-enlace>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    padding: 0 10px;
    height: 100%;
}

/* Estilo para el contenedor de presentación */
.subcontenedor-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* Ajuste para el contenedor de enlaces */
.contenedor-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.img-link {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0 auto;
}

/* Estilo para el contenedor de título */
.contenedor-titulo {
    color: white;
    width: 100%;
    font-size: var(--tamaño-parrafo);
    font-family: "Roboto Condensed", sans-serif;
    animation-name: animacionAparicion;
    animation-duration: 8s;
    margin-bottom: 1rem;
}


@keyframes animacionAparicion {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes flotar {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* Estilos para la foto de perfil */
.contenedor-imagen {
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: flotar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.img-principal {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: -1px 24px 26px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 24px 26px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 24px 26px 0px rgba(0, 0, 0, 0.75);
}

/* Estilos para historial */
.contenedor-historial {
    background-color: #1B1A55;
}

/* Estilos para la presentación */
.titulo-presentacion {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.4rem;
    color: red;
}


.titulo-presentacion>h1 {
    margin-bottom: 0;
}

.titulo-presentacion>h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
}

/* Ajustes para la lista */
.contenedor-lista {
    margin-top: 3rem;
}

.lista-academias {
    list-style-type: none;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    width: 100rem;
}

.objeto-academia {
    background-color: #535c91a3;
    border-radius: 10px;
    width: 35%;
    padding: 1rem;
    -webkit-box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
}

.objeto-academia>p {
    text-align: center;
    font-size: var(--tamaño-parrafo);
}

.objeto-academia>h3 {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.objeto-academia:hover {
    transition-duration: 0.6s;
    transform: scale(1.05);
}

/* Estilos para conocimientos */
.contenedor-conocimientos {
    background-color: #535C91;
}

.subcontenedor-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-family: var(--fuente-titulo);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

.imagen-conocimiento {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin: 0 auto;
}

.objeto-conocimiento {
    width: 15rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1a55a1;
    border-radius: 10px;
}

.contenedor-iconos-conocimiento {
    width: 15rem;
    margin: 0 auto;
}

/* Ajustes para la lista de conocimientos */
.lista-conocimientos {
    list-style-type: none;
    padding-left: 0;
}

/* Estilos para experiencia laboral */
.contenedor-proyectos {
    background-color: #070F2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.subcontenedor-proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap-reverse;
}

.imagen-proyecto {
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    object-fit: cover;
}

.objeto-proyecto {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1B1A55;
    padding: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 18px 18px -3px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.objeto-proyecto:hover {
    -webkit-box-shadow: 0px 20px 15px 19px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 20px 15px 19px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 20px 15px 19px rgba(0, 0, 0, 0.29);
    transform: scale(1.5);
    transition-duration: 0.6s;
    z-index: 3;
}

.descripcion-proyecto {
    display: none;
}


.animacion-aparicion {
    animation-name: animacionAparicion;
    animation-duration: 8s;
}

.titulo-proyecto {
    display: none;
}

h1,
h2,
h3 {
    font-family: var(---fuente-subtitulos);
    color: white;
}

h1,
h2 {
    font-size: 1.5rem;
}

p {
    font-family: var(---fuente-parrafos);
}

.descripcion-presentacion {
    color: white;
}

@media (max-width: 767px) {
    .descripcion-presentacion {
        font-size: 15px;
        width: 50%;
        margin: 0 auto;
    }

    .lista-academias {
        list-style-type: none;
        font-family: "Roboto Condensed", sans-serif;
        color: white;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.2rem;
        padding-top: 1rem;
        padding-bottom: 10rem;
        width: 50rem;
    }

    header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%; 
        max-width: 400px; 
        background-color: rgba(255, 255, 255, 0.539);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh; 
        z-index: 1000;
        animation-name: animacionAparicion;
        animation-duration: 8s;
    }

    .contenedor-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 100%;
    }
}
