:root{
    --tamaño-parrafo:14px;
}

/* Resetear márgenes y padding de body y html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Configuración de flex en el body */
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Estilo para el header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #191919;
    display: flex;
    justify-content: end;
    height: 60px;
    align-items: center;
    z-index: 1000;
}

/* Estilo para el contenedor de navegación */
.contenedor-navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 60%;
    height: 100%;
}

/* Estilo para los enlaces en el navbar */
.cont-enlace {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Efecto hover para los enlaces */
.cont-enlace:hover {
    background-color: #070F2B;
    transition-duration: 0.6s;
    transform: scale(1.5);
}

/* Estilo para los enlaces */
.cont-enlace > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    padding: 0 10px;
    height: 100%;
}

/* Estilo para el main */

.contenedor-presentacion {
    height: 25rem;
    width: 100%;
    margin-top: 3rem;
    padding-top: 0;
    padding-bottom: 1rem;
    /* Gradiente con el segundo color solo en el borde inferior */
    background: rgb(7,15,43);
    background: linear-gradient(180deg, rgba(7,15,43,1) 85%, rgba(27,26,85,1) 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contenedor-titulo{
    text-align: center;
    margin-top: 1rem;
    color: white;
    width: 70%;
    height: 60px;
    font-size: var(--tamaño-parrafo);
    font-family: "Roboto Condensed", sans-serif;
    animation-name: animacionAparicion;
    animation-duration: 5s;
}

@keyframes animacionAparicion{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes flotar{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-5px);
    }
}

/* Estilos foto de perfil */

.contenedor-imagen{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: flotar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

.img-principal{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0 auto;
}


.contenedor-historial{
    background-color: #1B1A55;
    height: 20rem;
    width: 100%;
    z-index: 1;
}

.titulo-presentacion{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.4rem;
    color: white;
}

.titulo-presentacion > h1{
    margin-bottom: 0;
}

.titulo-presentacion > h2{
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
}